<header class="header-wrap">
	<div class="header-sub">
		<div class="container">
			<div class="row">
				<div class="span-6 header-companyname">
					{{widget('companyname', 'companyname', {"business": "BRIDGE TEMPLATE"})|raw}}
				</div>
				<div class="span-6 header-phonenumber">
					{{widget('profile', 'phonenumber', { 'profileType': 'phone', 'align' : 'right' })|raw}}
				</div>
			</div>
		</div>
	</div>
	<div class="header-image">
		{{widget('image', 'headerimage', { 'src': asset('images/header-image.jpg'), 'alt': 'header image', 'fileName': 'header-image.jpg'})|raw}}
	</div>
	<div class="header-main">
		<div class="container">
			<div class="row">
				<div class="span-2 header-logo">
					{{widget('logo', 'headerlogo', {"defaultlogo": asset('images/logo.png')})|raw}}
				</div>
				<div class="span-10 header-navigation">
					{{widget('extendednavigation', 'headernavigationheader', {"align":"left"})|raw}}
				</div>
			</div>
		</div>
	</div>
</header>