<!-- Refers back to block code in layout.twig -->
{% extends "layout.twig" %}
{% block content %}

<!-- Page type class hook, container grid class -->
<div class="home-page container">
	
	<!-- Main container wrap, grid class -->
	<main class="main-content">
	
		<!-- Zone widget area -->
		{{zone('main')|raw}}
		
	</main>
	
</div>

<div class="footer-contact">
	<div class="container">
		<div class="row">
			<div class="footer-contactform span-6">
				{{widget('content', 'contactformtitle', {content: '<h2>LOREM IPSUM</h2>', lines: 'all'})|raw}}
				{{widget('contactform', 'contactform', {'text': 'Submit','formTitle': 'Contact Form', 'email': 'profile'})|raw}}
			</div>
			<div class="footer-map span-6">
				{{widget('content', 'maptitle', {content: '<h2>LOREM IPSUM</h2>', lines: 'all'})|raw}}
				{{widget('content', 'mapsubtitle', {content: '<h3>Lorem</h3>', lines: 'all'})|raw}}
				{{widget('map', 'mapwidget', {'height': '210', 'zoom': '15', 'address': 'profile'})|raw}}
			</div>
			<div class="footer-address span-6">
				{{widget('content', 'addresstitle', {content: '<h3>Lorem</h3>', lines: 'all'})|raw}}
				{{widget('companyaddress', 'companyaddress', {})|raw}}
			</div>
		</div>
	</div>
</div>

{% endblock %}